{% extends "layout.html" %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block content %}

<section id="ingredients">
<h2>Ingredients</h2>

<ul>
  {% for line in recipe.ingredients.splitlines() %}
  <li>{{ line }}</li>
  {% endfor %}
</ul>
</section>

<section id="directions">
<h2>Directions</h2>

{% for line in recipe.directions|split_paragraph %}
<p>{{ line }}</p>
{% endfor %}
</section>

{% if recipe.notes %}
<section id="notes">
<h2>Notes</h2>

{% for line in recipe.notes|split_paragraph %}
<p>{{ line }}</p>
{% endfor %}
</section>
{% endif %}

{% endblock %}
